<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>index</title>
    {% load static %} 
  </head>
  <body>
    
      <div class="container">
    <form
      method="POST"
      enctype="multipart/form-data"
      class="post-form"
      action="/create/"
    >
      {% csrf_token %}
        <br />
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <h3>Enter Details</h3>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">product name:</label>
          <div class="col-sm-4">{{form.prod_name}}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">description :</label>
          <div class="col-sm-4">{{form.description}}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">Image :</label>
          <div class="col-sm-4">{{form.Image}}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">price :</label>
          <div class="col-sm-4">{{form.price}}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
