<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Eproducts</title>
    {% comment %} {% load staticfiles %} {% endcomment %} {% comment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endcomment %}
  </head>
  <body>
    <table class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>prod_name</th>
          <th>description</th>
          <th>price</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for p in prod%}
        <tr>
          <td>{{ p.prod_name }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.price }}</td>

          <td>
            <a href="/edit/{{ p.id }}">Edit</a>
            <a href="/delete/{{ p.id }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <br />
    <br />
    <center>
      <a href="/create/" class="btn btn-primary">Add New Record</a>
    </center>
  </body>
</html>
